      <h1 class="badge badge-primary text-wrap"> E-Market <h1>
<img href="/">
<p class="text-center">So the time has come for harvest...thanks for helping to make your community stronger!</p>
<br>
<%= image_tag '3.jpg', alt:"Map", class:"map-img border shadow-lg border-dark rounded"%>
      <p>
<br>
       <a href="/item/new" class="badge badge-success">Add New Produce</a>
      </p>