<html>

    <body class= "p-3 mb-2 bg-dark text-primary">
        <div class="container-fluid text-center border border-success rounded-pill bg-light">
            <h1><a href="https://www.minds.com/divineorganisationoffreedom">D.O.O.F </a>  </h1>
            <h2> The Urban Farmer </h2>

            <p> Welcome to the future of food production!</P>

            <p>
                <% if user_signed_in? %>
                    <p>
                        <%=link_to "Shop", shop_path() %>
                    </p>
                <% else %>
                    <p>
                        <%=link_to "Registration", new_user_registration_path() %>
                    </p>
                <% end %>
            </p>
        </div>
    </body>


</html>

