<div class="d-flex  justify-content-between justify-content-md-center">
<h2> Welcome to the Hosts! </h2>
    <br>
    <div>
        <span><%= image_tag '2.jpg', alt:"Map", class:"map-img border shadow-lg border-dark rounded"%> </span>
    <a href="/item/new" class="badge badge-success">Host Land</a>
    </div>

</div>